@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Style.css">
    <title>CV</title>
</head>

<body>
    <p>This is my CV</p>

    <table>
        <tr>
            <th>Degree</th>
            <th>Institute</th>
            <th>Department</th>
            <th>GPA/CGPA</th>
        </tr>
        <tr>
            <th>BSc</th>
            <td>American International University-Bangladesh</td>
            <td>CSE</td>
            <td>CGPA 3.81</td>
        </tr>
        <tr>
            <th>SSC</th>

            <td>Apbn Public School and College</td>
            <td>Science</td>
            <td>GPA 5</td>
        </tr>
        <tr>
            <th>HSC</th>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>GPA 5</td>
        </tr>

    </table>

    
</body>

</html>
