@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Style.css">
    <title>Index</title>
</head>

<body>
    <div>
        <h2>Tanvir</h2>
        <a href="#">Home</a>
        <a href="~/Home/Cv">CV</a>
        <a href="#">Contact</a>

    </div>

</body>

</html>
