body {
    background-color: #b28ee8;
}


table {
    font-family: arial, sans-serif;
    
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #fff;
}